<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Concours_passerelle"
        tools:targetApi="31">
        <activity
            android:name=".Admin.AdminDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Concours_passerelle" />

        <activity
            android:name=".Admin.EditAnnonceActivity"
            android:exported="false"
            android:label="Éditer l'Annonce"
            android:theme="@style/Theme.Concours_passerelle" />

        <activity
            android:name=".Candidate.CandidateDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Concours_passerelle" />
        <!-- Declare AnnonceListActivity -->
        <activity
            android:name=".Admin.AnnonceListActivity"
            android:exported="false"
            android:label="Gestion des Annonces"
            android:theme="@style/Theme.Concours_passerelle" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".CongratulationsActivity"
            android:exported="false" />
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Candidate.CreateProfileCandidateActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity android:name=".Admin.CreateAnnonceActivity"
            android:exported="false"
            android:label="Creer des Annonces"/>

        <activity android:name=".Admin.PreinscritListActivity"
            android:exported="false" />

        <activity
            android:name=".Admin.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ProfilAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.GestionNotesAdminActivity"
            android:exported="false" />
        <activity
        android:name=".Admin.EditNoteActivity"
        android:exported="false" />


        <activity
            android:name=".Admin.EditProfilAdminActivity"
            android:exported="false" />
        <activity
            android:name=".LaunchingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Concours_passerelle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>